@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,600&display=swap');
.content{
    color:black;
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-style: normal;
    font-size:20px !important;
    background-image: url(file:///C:/Users/natam/Downloads/sd.png);
}
.footer{
    background-color:#202020;
    height: 100px;
    text-align: center;
    color: white;
    font-family: "EB Garamond", serif;
   
    
}
.ml-auto{
    margin: 10px;
}
.btn btn-outline-danger{
    margin-inline-end: 10px;
}
img, svg {
    vertical-align: middle;
    width: 250px;


}
.IMG{
    width: -webkit-fill-available;
}
.container{
max-width: 100%;
flex-wrap: nowrap;
display: flex;
flex-wrap: inherit;
align-items: center;
justify-content: space-between;
flex-direction: column;
}