.form-group{
    height: 100px;

}

h2{
    text-align: center;
    font-size: xx-large;
    padding: 30px;

}
.logIn{
    width: 50%;
    display: block;
    margin-inline: auto;
}
form{
    width: 100%;
    display: flex;
    justify-items: stretch;
    text-align: center;
    padding: 28px;
    margin: 0;
    border-radius: 32px;
    background-color: #021c2f17;
    flex-direction: column;
    align-items: center;
}