.auction-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.auction-picture {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.auction-picture-img {
  width: 100%;
  height: auto;
  max-width: 250px;
  border-radius: 5px;
}

.auction-picture-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.auction-picture-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.auction-picture-description {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.auction-picture-estimate {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.auction-picture-link {
  margin-top: auto; /* Ensure the button is pushed to the bottom */
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auction-picture-link:hover {
  background-color: #218838;
}
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
}