.auction-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex-direction: row;
  margin: 35px;
  justify-content: space-evenly;
}

.auction-picture {
  position: relative;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.auction-picture:hover {
  transform: translateY(-5px);
}

.auction-picture-img {
  width: 100%;
  height: auto;
  display: block;
}

.auction-picture-info {
  padding: 15px;
  background-color: #fff;
}

.auction-picture-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.auction-picture-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.auction-picture-estimate {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.auction-picture-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgba(12, 14, 61, 0.614);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.auction-picture-link:hover {
  background-color:  rgba(6, 6, 24, 0.882);
}
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
}